main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}
.color1 {
  background: lightgreen;
}
.color2 {
  background: orange;
}

.offclick {
  height: 400px;
  width: 40%;
  border: solid 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offclick.one{
  float: left;
}

.offclick.two{
  float: right;
}
.offclick.three{
  margin:auto;
}